/* SCSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 76.25rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.custom-button {
  background-color: #54bd95;
  color: #fff;
}

.title {
  font-size: 3.125rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.3;
}
@media (max-width: 424.98px) {
  .title {
    font-size: 2rem;
  }
}

.custom-input {
  font-size: 14px;
  color: #161c28;
  padding: 17px 20px;
  background: #fff;
  border-radius: 10px;
  width: 100%;
}
.custom-input::-moz-placeholder {
  color: #a6a6a6;
}
.custom-input::placeholder {
  color: #a6a6a6;
}

.header {
  padding-top: 2.5rem;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 3.125rem;
  font-weight: 600;
  color: #54bd95;
}
.header__nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 8.125rem;
       column-gap: 8.125rem;
}
.header__nav ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.header__nav ul a {
  font-size: 1.125rem;
  font-weight: 500;
  color: #a6a6a6;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__nav ul a:hover {
    color: #191a15;
  }
}
.header__tabs {
  display: flex;
  gap: 1.25rem;
}
.header__tabs--login {
  color: #a6a6a6;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__tabs--login:hover {
    color: #191a15;
  }
}
.header__tabs--singup {
  padding: 0.6875rem 0.625rem;
  border-radius: 0.625rem;
}
.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
}
.header__burger span {
  display: block;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #54bd95;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 0;
  z-index: 5;
  top: 9px;
}
.header__burger::after, .header__burger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #54bd95;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 0;
  z-index: 5;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
  opacity: 0;
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: flex;
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 50;
    max-width: 25rem;
    width: 70%;
    flex-direction: column;
    align-items: self-start;
    row-gap: 3rem;
    background-color: #191a15;
    transition: all 0.2s ease-in-out;
    padding-top: 1.875rem;
    padding-right: 1.875rem;
    padding-left: 1.25rem;
  }
  .header__nav ul {
    flex-direction: column;
    align-items: start;
    row-gap: 2rem;
  }
  .header__nav ul a {
    font-size: 2rem;
  }
  .header__nav.active {
    left: 0;
  }
  .header__tabs {
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
  }
}
@media (max-width: 1099.98px) {
  .header__nav {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .header__nav ul {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.hero {
  padding-top: 8.125rem;
  position: relative;
  z-index: 5;
}
.hero__body {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  gap: 1rem;
}
.hero__title {
  font-size: 5rem;
  text-align: left;
  margin-bottom: 1.875rem;
}
.hero__line {
  margin-bottom: 3.125rem;
}
.hero__description {
  margin-bottom: 3.125rem;
  line-height: 1.7;
  max-width: 28.8125rem;
}
.hero__tabs {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.hero__tabs--trial {
  padding: 1.25rem 1.875rem;
  border-radius: 2.5rem;
}
.hero__tabs--demo {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.125rem;
       column-gap: 1.125rem;
}
.hero__image {
  position: relative;
}
.hero__image--person {
  max-width: 25.625rem;
  display: block;
}
.hero__image--card {
  position: absolute;
  bottom: 2rem;
  right: -5.625rem;
  z-index: 5;
  max-width: 9.125rem;
  transform: rotate(15deg);
}
.hero__image--decor {
  position: absolute;
}
.hero__image--decor--yellow {
  top: 1.625rem;
  right: -2.5rem;
  z-index: 5;
  transform: rotate(15deg);
}
.hero__image--decor--red {
  bottom: -1.8125rem;
  right: 3.25rem;
  z-index: 5;
  transform: rotate(15deg);
}
.hero__image--decor--violet {
  top: 10.8125rem;
  left: -3.5rem;
  z-index: 5;
  transform: rotate(-15deg);
}
.hero__image--block {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  border-radius: 0.625rem;
  padding: 0.875rem 1.125rem;
}
.hero__image--block button {
  padding: 0.3125rem 1rem;
  border-radius: 2.5rem;
}
.hero__image--block--amount {
  top: 1.875rem;
  left: -11.25rem;
}
.hero__image--block--income {
  bottom: 2.1875rem;
  left: -4.75rem;
}
.hero__image--block--body {
  display: flex;
  align-items: center;
  -moz-column-gap: 5.375rem;
       column-gap: 5.375rem;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.3125rem;
}
.hero__image--info {
  display: grid;
  row-gap: 0.5rem;
}
.hero__image--subtitle {
  color: #a6a6a6;
  font-size: 0.75rem;
  font-weight: 400;
}
.hero__image--title {
  font-size: 1rem;
}
@media (max-width: 1299.98px) {
  .hero__image--card {
    bottom: -2rem;
    right: 0px;
  }
}
@media (max-width: 1099.98px) {
  .hero__title {
    font-size: 3rem;
    max-width: 34.6875rem;
    line-height: 1.3;
  }
  .hero__tabs {
    flex-direction: column;
    align-items: start;
    row-gap: 2rem;
  }
  .hero__tabs button {
    width: 100%;
  }
  .hero__tabs--demo {
    justify-content: center;
  }
  .hero__image--block--amount {
    top: 0.9375rem;
    left: -1.875rem;
  }
  .hero__image--block--income {
    bottom: -0.9375rem;
    left: 1.5625rem;
  }
  .hero__image--decor {
    display: none;
  }
  .hero__image--card {
    bottom: -2rem;
    right: 0px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding-top: 2rem;
  }
  .hero__body {
    flex-direction: column;
    row-gap: 4rem;
  }
  .hero__title {
    max-width: 100%;
  }
  .hero__description {
    max-width: 100%;
  }
  .hero__image {
    margin: 0 auto;
  }
  .hero__image--block--amount {
    top: -0.9375rem;
  }
  .hero__image--card {
    display: none;
  }
}
@media (max-width: 574.98px) {
  .hero__body {
    flex-direction: column;
    row-gap: 2rem;
  }
  .hero__title {
    font-size: 2rem;
  }
  .hero__line {
    margin-bottom: 2rem;
  }
  .hero__description {
    margin-bottom: 2rem;
  }
  .hero__image--person {
    width: 100%;
  }
}

.collabs {
  padding: 8.125rem 0;
}
.collabs__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
}
.collabs__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.collabs__item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.collabs__item p {
  font-size: 1.875rem;
  font-weight: 600;
}
@media (any-hover: hover) {
  .collabs__item:hover {
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .collabs {
    padding: 3rem 0;
  }
  .collabs__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.support {
  padding: 3.75rem 0;
  background-color: #f9f8fe;
}
.support__body {
  display: flex;
  align-items: self-start;
  -moz-column-gap: 1.6875rem;
       column-gap: 1.6875rem;
}
.support__description {
  max-width: 40.25rem;
}
.support__title {
  margin-bottom: 1.875rem;
}
.support__subtitle {
  color: #a6a6a6;
  margin-bottom: 4.5625rem;
  line-height: 1.7;
}
.support__statistics {
  display: flex;
  align-items: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.support__statistic {
  display: grid;
  row-gap: 1.125rem;
}
.support__statistic--icons {
  color: #ffc728;
}
.support__statistic--icons .not-active {
  color: #a6a6a6;
}
.support__statistic--rating {
  font-weight: 500;
}
.support__statistic--rating span {
  font-weight: 700;
}
.support__statistic--description {
  color: #a6a6a6;
}
.support__items {
  display: grid;
  row-gap: 1.875rem;
}
.support__item {
  display: flex;
  align-items: self-start;
  -moz-column-gap: 1.3125rem;
       column-gap: 1.3125rem;
}
.support__item--img {
  flex: 0 0 60px;
  display: grid;
  place-content: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05);
}
.support__item--title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.support__item--description {
  color: #a6a6a6;
  line-height: 1.7;
}
@media (max-width: 1023.98px) {
  .support__body {
    flex-direction: column;
    row-gap: 5rem;
  }
  .support__description {
    max-width: 100%;
  }
}
@media (max-width: 424.98px) {
  .support {
    padding: 2rem 0;
  }
  .support__body {
    row-gap: 2.5rem;
  }
  .support__statistics {
    flex-direction: column;
    align-items: self-start;
    row-gap: 1.5rem;
  }
  .support__title {
    margin-bottom: 1rem;
  }
  .support__subtitle {
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }
  .support__item--title {
    font-size: 1.25rem;
  }
  .support__item--description {
    font-size: 0.875rem;
  }
}

.feature {
  padding: 8.125rem 0;
  position: relative;
  z-index: 10;
}
@media (max-width: 767.98px) {
  .feature {
    padding: 2rem 0;
  }
}
.feature__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4.625rem;
}
.feature__title {
  max-width: 20.6875rem;
}
.feature__subtitle {
  color: #a6a6a6;
  line-height: 1.7;
  max-width: 461px;
}
.feature__button {
  padding: 1.5rem 2.125rem;
  border-radius: 4.375rem;
}
.feature__cards {
  display: grid;
  -moz-column-gap: 2.75rem;
       column-gap: 2.75rem;
  grid-template-columns: repeat(3, 1fr);
}
.feature__card img {
  margin-bottom: 1.875rem;
}
.feature__card--title {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.feature__card--subtitle {
  color: #a6a6a6;
  line-height: 1.7;
}
@media (max-width: 767.98px) {
  .feature__header {
    margin-bottom: 3rem;
  }
  .feature__cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
  .feature__card {
    text-align: center;
  }
  .feature__card img {
    width: 70%;
  }
}
@media (max-width: 424.98px) {
  .feature__header {
    row-gap: 1rem;
  }
  .feature__cards {
    row-gap: 1rem;
  }
}

.benefit {
  position: relative;
}
.benefit__body {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  position: relative;
  z-index: 10;
}
.benefit__description {
  max-width: 29.4375rem;
}
.benefit__image {
  max-width: 28.125rem;
  width: 100%;
  position: relative;
}
.benefit__image--block {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0.625rem;
  position: absolute;
}
.benefit__image--block img {
  margin-right: 1rem;
}
.benefit__image--block--income {
  top: 7.5625rem;
  right: -4.3125rem;
}
.benefit__image--block--transfer {
  display: flex;
  gap: 1rem;
  bottom: -0.875rem;
  left: -6.625rem;
  padding: 1.375rem 1.5625rem;
}
.benefit__image--block--transfer p {
  font-weight: 400;
}
.benefit__image--info {
  display: grid;
  row-gap: 0.5rem;
}
.benefit__image--subtitle {
  color: #a6a6a6;
  font-size: 0.75rem;
  font-weight: 400;
}
.benefit__image--title {
  font-size: 1rem;
}
.benefit__image--expert {
  top: 2.25rem;
  left: -7.75rem;
}
.benefit__image--name {
  font-size: 1rem;
  margin-bottom: 1.125rem;
}
.benefit__image--job {
  font-size: 0.75rem;
  color: #a6a6a6;
  margin-right: 1.75rem;
}
.benefit__image--laptop {
  border-radius: 1.25rem;
  display: block;
}
.benefit__image--decor {
  position: absolute;
  bottom: 13.125rem;
  left: -4.125rem;
  transform: rotate(-15deg);
  width: 2.5rem;
  height: 2.5rem;
}
.benefit__title {
  margin-bottom: 3.125rem;
}
.benefit__list {
  display: grid;
  row-gap: 1.875rem;
}
.benefit__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media (max-width: 1299.98px) {
  .benefit__image--block--income {
    top: -1.4375rem;
    right: -0.3125rem;
  }
}
@media (max-width: 1023.98px) {
  .benefit__body {
    flex-direction: column;
    row-gap: 3rem;
  }
  .benefit__description {
    max-width: 100%;
  }
  .benefit__image {
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .benefit__image--decor {
    display: none;
  }
  .benefit__image--expert {
    top: auto;
    left: 0.25rem;
    bottom: -7rem;
  }
  .benefit__image--block--transfer {
    left: 1.375rem;
  }
}

.choose {
  padding: 8.125rem 0;
}
@media (max-width: 767.98px) {
  .choose {
    padding: 2rem 0;
  }
}
.choose__body {
  position: relative;
  z-index: 10;
}
.choose__title {
  max-width: 30.75rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.5rem;
}
.choose__subtitle {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #a6a6a6;
}
.choose__tabs {
  box-shadow: 0rem 0.25rem 0.5625rem 0rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  max-width: 22rem;
  padding: 0.4375rem;
  margin: 0 auto;
  margin-bottom: 4.1875rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border-radius: 0.625rem;
}
.choose__tabs--button {
  border-radius: 0.625rem;
  padding: 1.1875rem 2.4375rem;
  transition: all 0.2s ease-in-out;
}
.choose__tabs--button.active {
  background-color: #54bd95;
  color: #fff;
}
@media (any-hover: hover) {
  .choose__tabs--button:hover {
    background-color: #54bd95;
    color: #fff;
  }
}
.choose__cards {
  display: flex;
  -moz-column-gap: 1.8125rem;
       column-gap: 1.8125rem;
  justify-content: space-between;
  align-items: center;
}
.choose__card {
  width: 33%;
  background: #fff;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.25rem 0.5625rem 0rem rgba(0, 0, 0, 0.05);
  padding: 2.5rem 1.25rem 1.5625rem;
  text-align: center;
}
.choose__card--plan {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.choose__card--description {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  color: #a6a6a6;
  line-height: 1.5;
}
.choose__card--save {
  background-color: #85dab9;
  border-radius: 0.625rem;
  display: block;
  width: 8.5rem;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.8125rem 0.75rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.choose__card--price {
  position: relative;
  font-size: 3.125rem;
  font-weight: 600;
  display: inline;
}
.choose__card--price span {
  color: #a6a6a6;
  position: absolute;
  top: -0.9375rem;
  left: calc(50% - 2.25rem);
  font-size: 1.125rem;
}
.choose__card--benefits {
  background-color: #f9fafb;
  padding: 1.625rem 1.9375rem;
  margin-top: 1.875rem;
  border-radius: 0.625rem;
}
.choose__card--list {
  display: grid;
  row-gap: 1.375rem;
  margin-bottom: 1.6875rem;
}
.choose__card--item {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  text-align: left;
  line-height: 1.2;
}
.choose__card--item svg {
  min-width: 2rem;
}
.choose__card--button {
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.25rem 0.5625rem 0rem rgba(0, 0, 0, 0.05);
  display: grid;
  place-items: center;
  padding: 1.4375rem 4.25rem;
  margin: 0 auto;
  color: #54bd95;
  line-height: 1.3;
  width: 100%;
}
.choose__card--popular {
  background-color: #54bd95;
  align-self: flex-start;
}
.choose__card--popular .choose__card--plan, .choose__card--popular .choose__card--description, .choose__card--popular .choose__card--price, .choose__card--popular .choose__card--price span {
  color: #fff;
}
.choose__card--popular .choose__card--price {
  margin-bottom: 1rem;
}
.choose__card--popular button {
  background-color: #54bd95;
  color: #fff;
}
@media (max-width: 1023.98px) {
  .choose__cards {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.8125rem;
  }
  .choose__card {
    order: 2;
    width: 50%;
  }
  .choose__card--popular {
    order: 1;
  }
}
@media (max-width: 767.98px) {
  .choose {
    padding-top: 9rem;
  }
  .choose__title {
    margin-bottom: 1rem;
  }
  .choose__subtitle {
    margin-bottom: 1.5rem;
  }
  .choose__cards {
    row-gap: 1rem;
  }
  .choose__card {
    width: 100%;
  }
  .choose__tabs {
    margin-bottom: 1.3rem;
  }
}
@media (max-width: 424.98px) {
  .choose__card {
    padding: 0.9375rem;
  }
  .choose__card--benefits {
    padding: 0.9375rem;
  }
  .choose__tabs {
    max-width: 100%;
    flex-direction: column;
    row-gap: 1rem;
  }
  .choose__tabs button {
    width: 100%;
  }
}

.footer {
  background-color: #161c28;
  padding: 130px 0 40px;
}
.footer__dowith {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 101px;
       column-gap: 101px;
  margin-bottom: 170px;
}
.footer__dowith--info {
  flex: 40%;
}
.footer__dowith--title {
  color: #fff;
  margin-bottom: 20px;
}
.footer__dowith--description {
  color: #a6a6a6;
  line-height: 1.7;
  margin-bottom: 40px;
}
.footer__dowith--icon {
  margin-bottom: 40px;
}
.footer__dowith--photos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__dowith--photos img {
  border-radius: 50%;
}
.footer__dowith--form {
  align-self: flex-start;
  background-color: #222938;
  border-radius: 20px;
  padding: 40px 86px 66px;
  flex: 52%;
  text-align: center;
}
.footer__dowith--form--icon {
  margin-bottom: 10px;
}
.footer__dowith--form h5 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}
.footer__dowith--form form {
  text-align: left;
  display: grid;
  row-gap: 20px;
}
.footer__dowith--form form label {
  margin-bottom: 20px;
  display: block;
  color: #fff;
}
.footer__dowith--form form textarea {
  resize: none;
  height: 80px;
}
.footer__dowith--form form button {
  padding: 21px 0;
  border-radius: 10px;
  width: 100%;
}
.footer__dowith--form--actions {
  width: 100%;
  text-align: right;
}
.footer__dowith--form--actions p {
  margin-top: 10px;
  color: #a6a6a6;
  line-height: 1.7;
}
.footer__dowith--form--actions a {
  color: #fff;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.footer__info--logo {
  margin-bottom: 30px;
}
.footer__info--description {
  color: #a6a6a6;
  margin-bottom: 30px;
}
.footer__info--form {
  width: 35%;
}
.footer__info--input {
  border-radius: 70px;
  border: 2px solid #a6a6a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 7px;
  max-width: 410px;
}
.footer__info--input input {
  background: transparent;
  height: 100%;
  padding-left: 13px;
  flex: 100%;
  color: #fff;
}
.footer__info--input input::-moz-placeholder {
  color: #a6a6a6;
}
.footer__info--input input::placeholder {
  color: #a6a6a6;
}
.footer__info--input button {
  background-color: #54bd95;
  min-width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.footer__info--links {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
}
.footer__info--item h6 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer__info--item ul {
  display: grid;
  gap: 20px;
}
.footer__info--item ul li a {
  color: #a6a6a6;
  line-height: 1.4;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 60px;
}
.footer__bottom p {
  color: #fff;
  line-height: 1.5;
}
@media (max-width: 1299.98px) {
  .footer__dowith {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .footer__dowith--description {
    margin-bottom: 20px;
  }
  .footer__dowith--form {
    padding: 40px 50px;
  }
}
@media (max-width: 1023.98px) {
  .footer {
    padding: 50px 0;
  }
  .footer__dowith {
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 80px;
  }
  .footer__dowith--form {
    width: 100%;
  }
  .footer__info {
    flex-direction: column;
    row-gap: 40px;
  }
  .footer__info--form {
    margin: 0 auto;
    text-align: center;
    width: 70%;
  }
  .footer__info--input {
    margin: 0 auto;
  }
  .footer__info--links {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .footer__dowith {
    margin-bottom: 40px;
  }
}
@media (max-width: 574.98px) {
  .footer {
    padding: 50px 0 40px;
  }
  .footer__dowith--form {
    padding: 20px 30px;
  }
  .footer__info--form, .footer__info--input {
    width: 100%;
    gap: 0px;
  }
  .footer__info--form input, .footer__info--input input {
    width: 200px;
  }
}
@media (max-width: 424.98px) {
  .footer {
    padding: 50px 0 40px;
  }
  .footer__dowith {
    row-gap: 20px;
    margin-bottom: 40px;
  }
  .footer__dowith--form {
    padding: 15px;
  }
}

body {
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #191a15;
  line-height: 1;
  font-size: 1.125rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1;
}

button {
  background: transparent;
  cursor: pointer;
}

.elips {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  width: 634px;
  height: 634px;
  filter: blur(500px);
}
.elips-1 {
  top: -20%;
  left: -20%;
  background: #52bdaa;
}
.elips-2 {
  top: -18%;
  right: 15%;
  background: #ffd6d6;
}
.elips-3 {
  top: 30%;
  right: 30%;
  background: #e7e4e4;
}
.elips-4 {
  top: 451px;
  left: -230px;
  background: #ffd6d6;
}
.elips-5 {
  bottom: -634px;
  right: 0;
  background: #54be96;
}
@media (max-width: 767.98px) {
  .elips {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */