@import "./utils/variables";
@import "./utils/reset";
@import "./utils/mixins";

@import "./components/container";
@import "./components/custom-button";
@import "./components/title";
@import "./components/custom-input";

@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/collabs";
@import "./layouts/support";
@import "./layouts/feature";
@import "./layouts/benefit";
@import "./layouts/choose";
@import "./layouts/footer";

body {
  min-height: 100%;

  font-family: $font-inter;
  font-weight: 500;
  color: $color-black;
  line-height: 1;
  font-size: 1.125rem;
}

.wrap {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.main {
  flex: 1 1;
}

button {
  background: transparent;

  cursor: pointer;
}

.elips {
  position: absolute;

  z-index: 2;

  border-radius: 50%;

  width: 634px;
  height: 634px;

  filter: blur(500px);

  &-1 {
    top: -20%;
    left: -20%;

    background: #52bdaa;
  }

  &-2 {
    top: -18%;
    right: 15%;

    background: #ffd6d6;
  }

  &-3 {
    top: 30%;
    right: 30%;

    background: #e7e4e4;
  }

  &-4 {
    top: 451px;
    left: -230px;

    background: #ffd6d6;
  }

  &-5 {
    bottom: -634px;
    right: 0;

    background: #54be96;
  }

  @media (max-width: $bp-tablet) {
    width: 100%;
  }
}
