// fonts
$font-inter: "Inter", sans-serif;

// breakpoints
$bp-mobile-m: 374.98px;
$bp-mobile-l: 424.98px;
$bp-mobile-xl: 574.98px;
$bp-tablet: 767.98px;
$bp-laptop-s: 1023.98px;
$bp-laptop-m: 1099.98px;

// colors
$color-green: #54bd95;
$color-black: #191a15;
$color-gray: #a6a6a6;
$color-white: #fff;
$color-yellow: #ffc728;

// backgrounds
$background-violet: #f9f8fe;
