.custom-input {
  font-size: 0.875rem;
  color: $color-black-blue;

  padding: 1.0625rem 1.25rem;

  background: $color-white;
  border-radius: 0.625rem;

  width: 100%;

  &::placeholder {
    color: $color-gray;
  }
}
