.footer {
  background-color: $color-black-blue;

  padding: 8.125rem 0 2.5rem;

  &__dowith {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 6.3125rem;

    margin-bottom: 10.625rem;

    &--info {
      flex: 40%;
    }

    &--title {
      color: $color-white;

      margin-bottom: 1.25rem;
    }

    &--description {
      color: $color-gray;
      line-height: 1.7;

      margin-bottom: 2.5rem;
    }

    &--icon {
      margin-bottom: 2.5rem;
    }

    &--photos {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.25rem;

      img {
        border-radius: 50%;
      }
    }

    &--form {
      align-self: flex-start;

      background-color: #222938;
      border-radius: 1.25rem;

      padding: 2.5rem 5.375rem 4.125rem;

      flex: 52%;

      text-align: center;

      &--icon {
        margin-bottom: 0.625rem;
      }

      h5 {
        color: $color-white;
        font-size: 1.875rem;
        margin-bottom: 0.625rem;
      }

      form {
        text-align: left;

        display: grid;
        row-gap: 1.25rem;

        label {
          margin-bottom: 1.25rem;

          display: block;

          color: $color-white;
        }

        textarea {
          resize: none;

          height: 5rem;
        }

        button {
          padding: 1.3125rem 0;

          border-radius: 0.625rem;

          width: 100%;
        }
      }

      &--actions {
        width: 100%;

        text-align: right;

        p {
          margin-top: 0.625rem;

          color: $color-gray;
          line-height: 1.7;
        }

        a {
          color: $color-white;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;

    &--logo {
      margin-bottom: 1.875rem;
    }

    &--description {
      color: $color-gray;

      margin-bottom: 1.875rem;
    }

    &--form {
      width: 35%;
    }

    &--input {
      border-radius: 4.375rem;

      border: 0.125rem solid $color-gray;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      padding: 0.4375rem;

      max-width: 25.625rem;

      input {
        background: transparent;

        height: 100%;

        padding-left: 0.8125rem;

        flex: 100%;

        color: $color-white;

        &::placeholder {
          color: $color-gray;
        }
      }

      button {
        background-color: $color-green;
        min-width: 2.875rem;
        height: 2.875rem;
        border-radius: 50%;

        display: grid;
        place-content: center;

        transition: all 0.3s ease-in-out;

        svg {
          color: $color-white;

          transition: all 0.3s ease-in-out;
        }

        @media (any-hover: hover) {
          &:hover {
            outline: 2px solid $color-green;

            background-color: transparent;

            svg {
              color: $color-green;
            }
          }
        }
      }
    }

    &--links {
      display: flex;
      gap: 4rem;
      flex-wrap: wrap;
    }

    &--item {
      h6 {
        color: $color-white;
        font-size: 1.125rem;

        margin-bottom: 1.875rem;
      }

      ul {
        display: grid;
        gap: 1.25rem;

        li {
          a {
            color: $color-gray;
            line-height: 1.4;

            transition: color 0.2s ease-in-out;

            @media (any-hover: hover) {
              &:hover {
                color: $color-white;
              }
            }
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: 3.75rem;

    p {
      color: $color-white;
      line-height: 1.5;
    }
  }

  @media (max-width: $bp-laptop-l) {
    &__dowith {
      column-gap: 3.75rem;

      &--description {
        margin-bottom: 1.25rem;
      }

      &--form {
        padding: 2.5rem 3.125rem;
      }
    }
  }

  @media (max-width: $bp-laptop-s) {
    padding: 3.125rem 0;

    &__dowith {
      flex-direction: column;

      row-gap: 3.125rem;

      margin-bottom: 5rem;

      &--form {
        width: 100%;
      }
    }

    &__info {
      flex-direction: column;
      row-gap: 2.5rem;

      &--form {
        margin: 0 auto;

        text-align: center;

        width: 70%;
      }

      &--input {
        margin: 0 auto;
      }

      &--links {
        justify-content: center;
      }
    }
  }

  @media (max-width: $bp-tablet) {
    &__dowith {
      margin-bottom: 2.5rem;
    }
  }

  @media (max-width: $bp-mobile-xl) {
    padding: 3.125rem 0 2.5rem;

    &__dowith {
      &--form {
        padding: 1.25rem 1.875rem;
      }
    }

    &__info {
      &--form,
      &--input {
        width: 100%;

        gap: 0rem;
        input {
          width: 12.5rem;
        }
      }
    }
  }

  @media (max-width: $bp-mobile-l) {
    padding: 3.125rem 0 2.5rem;

    &__dowith {
      row-gap: 1.25rem;

      margin-bottom: 2.5rem;

      &--form {
        padding: 0.9375rem;
      }
    }
  }
}
